/* section 메뉴 in 배너 */
section{
    position: relative; padding-top: 100px;
    display: flex; justify-content: center;
}
.sb_st_2{
    position: absolute; top: 250px;
    text-align: center;
    hr{border: 1px solid black; width: 50px; margin: 25px auto;}
}
.sb_st_3{
    position: absolute; top: 520px;
    margin: 0; padding: 0;
}
.sb_st_3{
    box-sizing: border-box;
    ul li{border: 1px solid lightgray; background-color: white;};
    ul li:nth-child(3){background-color: rgb(255, 230, 0);}
    table tr{border: 1px solid lightgray; background-color: white;};
    table td{border-right: 1px solid lightgray;};
    table td:nth-child(5){border-right: none;};
    table td:nth-child(3){background-color: rgb(255, 230, 0);}
}
.drink_menu1{
    list-style: none; display: flex;
    li{padding: 5px 0; width: 150px; text-align: center; font-size: 18px;}
    li:hover{
        display: inline-block;
        width: 150px; background-color: rgb(255, 230, 0);
    }
}
.drink_menu2{
    border-collapse: collapse;
    td{padding: 5px 0; width: 150px; text-align: center; font-size: 18px;}
    td:hover{
        display: inline-block;
        width: 150px; background-color: rgb(255, 230, 0);
    }
}

/* main 추천메뉴 */
main{
    clear: both; text-align: center;
}
.sb2_m{
    margin: 50px auto; width: 1220px;
    hr{border: 3px solid darkblue; width: 50px; margin-bottom: 50px;}
}
.menu_g1_wrap{
    margin: 50px auto;
    display: flex; justify-content: center;
    div{width: 250px; padding: 0 50px;}
}
.menu_g1{
    text-align: center;
    img{width: 100%;}
}
.menu_g2_wrap{
    list-style: none; margin: 0; padding: 0;
    display: flex; justify-content: center; box-sizing: border-box; border-collapse: collapse;
}
.menu_g2{
    border: 1px solid lightgray; width: 305px; padding: 20px;
    text-align: center; box-sizing: border-box; border-collapse: collapse;
    img{width: 100%;};
}
.menu_g2:hover{
    border-color: darkblue; cursor: pointer;
}