@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 공통 스타일 */
html{background-color: white;}
body{background-color: white; width: 1920px; margin: 0 auto; padding: 0; font-family: "SUITE-Regular";}
hr{clear: both;}
a{text-decoration: none; color: black;}
h1{
    font-family: 'SBAggroB'; color: darkblue; font-size: 40px;
    margin: 0; padding: 0;
}
h2{
    font-weight: 100; font-size: 50px;
    margin: 0; padding: 0;
}
h3{
    color: darkblue; font-size: 40px;
    margin: 0; padding: 0;
}
h4{
    font-size: 20px;
    margin: 0; padding: 0;
}


/* header 헤더 스타일 */
header{
    position: fixed; z-index: 99;
    background-color: white; width: 1920px; 
}
.header1{
    float: left;
    margin: 20px 0px 20px 350px;
}
.header2{
    float: right; text-align: right;
    margin: 30px 350px 10px 0px;
}
.header2_1{
    color: gray;
    a{color: gray;}
    img{width: 22px; vertical-align:top; margin-bottom: 10px;}
}
.header_menu{
    list-style: none; margin: 0; padding: 0;
    display: flex; gap: 60px;
}
.header_menu > li{
    position: relative;
    text-align: left;
    font-size: 20px;
}
.header_menu > li:hover .header_submenu{
    display: block;
}
.header_submenu{
    list-style: none; margin: 5px 0; padding: 0;
    display: none; font-size: 16px; line-height: 170%;
     li > a:hover{background-color: yellow; font-weight: bold;}
}


/* footer 하단 스타일 */
footer{
    clear: both; position: relative;
    margin: 0; padding-bottom: 20px;
}
#topbutton{
    position: fixed; bottom: 30px; right: 60px;
}
footer hr{
    border: 2px solid rgb(250, 240, 0);
    margin-bottom: 30px;
}
.footer1{
    text-align: center; margin-bottom: 20px;
}
.footer2{
    clear: both; text-align: center;
    color: rgb(63, 63, 63);
    font-size: 13px;
    p{margin: 7px 0; padding: 0;}
}
footer select{
    position: absolute; bottom: 205px; right: 350px;
}